<section class="section recognition" id="recognition" data-scene="embedding">
  <div class="wrap">
    <div class="sec-head">
      <span class="sec-label" data-decode>Recognition</span>
    </div>
    <ul class="recog">
      {% for item in achievements %}
      <li class="recog-item reveal"><span class="recog-mark" aria-hidden="true">{{ loop.index | pad2 }}</span><p>{{ item.text }}</p></li>
      {% endfor %}
    </ul>
  </div>
</section>
